.columna-ancha {
  width: 8%;
}
.columna-fuente {
  width: 10%;
}
.columna-origen {
  width: 10%;
}
.columna-ctncontable {
  width: 25%;
}

.btn-pdf {
  background-color: red;
  color: white;
}

.btn-excel {
  background-color: green;
  color: white;
}
