
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

        /* Estilos para el mensaje emergente */
        .error-popup {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: rgba(255, 0, 0, 0.8); /* Fondo rojo con opacidad */
            color: white;
            padding: 10px;
            border-radius: 5px;
            display: none;
            z-index: 1000;
        }
