/* Estilo para el contenedor del modal */
.modal-container2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Estilo para el contenido del modal */
.modal-content2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  position: relative; /* Añadido para posicionar correctamente el botón de cerrar */
}

/* Estilo para el botón de cerrar */
.close_2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333; /* Color del icono de cerrar */
}

/* Estilo para la tabla en el contenido del modal */
.modal-content2 table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

/* Estilo para las celdas de la tabla en el contenido del modal */
.modal-content2 table th,
.modal-content2 table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilo para resaltar el cursor al pasar sobre las filas de la tabla */
.modal-content2 table tbody tr:hover {
  background-color: #f5f5f5;
}

.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 20px;
}
.columna-ancha {
  width: 8%;
}
.columna-fuente {
  width: 10%;
}
.columna-origen {
  width: 10%;
}
.columna-ctncontable {
  width: 25%;
}

/* Posicion del toast */
#toastErrorFila {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
