.columna-ancha {
  width: 8%;
}
.columna-fuente {
  width: 10%;
}
.columna-origen {
  width: 10%;
}
.columna-ctncontable {
  width: 25%;
}

.columna-retencion {
  width: 55%;
}

.columna-baseretencion {
  width: 20%;
}

.celda-debe{
  background-color: #e9eaff !important;
}
.celda-haber{
  background-color: #e9eaff!important;
}
.celda-diferencia {
  background-color: #f7f6e2 !important;
}

#vistapago th, #vistapago td {
  text-align: center;
}

#vistapago .texto-izquierda {
  text-align: left;
}

#vistapago .texto-derecha {
  text-align: right;
}

/* Css de las tablas y modales de cuentas contables */
.cuentas-contables {
  max-width: 65%;
}
.cuentas-contables tbody {
  display: block; /* Permite el scrollbar */
  max-height: 50vh; /* Altura máxima del cuerpo de cuentas-contables */
  overflow-y: auto; /* Habilita el scroll vertical */
}
.cuentas-contables thead,
.cuentas-contables tbody tr {
  display: table; /* Mantiene el comportamiento de cuentas-contables */
  width: 100%; /* Acá aseguramos que thead y tbody tengan el mismo ancho */
  table-layout: fixed; /* Distribuye uniformemente las celdas */
}

/* Css de las tabla y modal de lista de obligacion */
.lista-obligacion {
  max-width: 90%;
}
.lista-obligacion tbody {
  display: block; /* Permite el scrollbar */
  max-height: 50vh; /* Altura máxima del cuerpo */
  overflow-y: auto; /* Habilita el scroll vertical */
}
.lista-obligacion thead,
.lista-obligacion tbody tr {
  display: table; /* Mantiene el comportamiento */
  width: 100%; /* Acá aseguramos que thead y tbody tengan el mismo ancho */
  table-layout: fixed; /* Distribuye uniformemente las celdas */
  text-overflow: ellipsis;
}

/* Posicion del toast */
#toastErrorFila {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

 /* -------------Tabla del Pago de Obligación------------- */
 #miTabla {
  border-collapse: separate; /* Necesario para que los bordes redondeados funcionen */
  border-spacing: 0; /* Elimina el espacio entre celdas */
  border-radius: 0.2rem; /* Ajusta el radio de los bordes redondeados */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}

/* celdas de la tabla */
#miTabla th,
#miTabla td {
    border: 1px solid #dee2e6; /* Usa outline en lugar de border */
}

/* (esquinas superiores) */
#miTabla thead th:first-child {
  border-top-left-radius: 0.5rem;
}
#miTabla thead th:last-child {
  border-top-right-radius: 0.5rem;
}

/* (esquinas inferiores) */
#miTabla tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
#miTabla tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

 /* -------------Tabla del Debe y Haber------------- */
 #miTabla2 {
  border-collapse: separate; /* Necesario para que los bordes redondeados funcionen */
  border-spacing: 0; /* Elimina el espacio entre celdas */
  border-radius: 0.2rem; /* Ajusta el radio de los bordes redondeados */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}

/* celdas de la tabla */
#miTabla2 th,
#miTabla2 td {
    border: 1px solid #dee2e6; /* Usa outline en lugar de border */
}

/* (esquinas superiores) */
#miTabla2 thead th:first-child {
  border-top-left-radius: 0.5rem;
}
#miTabla2 thead th:last-child {
  border-top-right-radius: 0.5rem;
}

/* (esquinas inferiores) */
#miTabla2 tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
#miTabla2 tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

/* -------------Tabla de Asientos Pagados------------- */
#vistapago {
  border-collapse: separate; /* Necesario para que los bordes redondeados funcionen */
  border-spacing: 0; /* Elimina el espacio entre celdas */
  border-radius: 0.2rem; /* Ajusta el radio de los bordes redondeados */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}

/* celdas de la tabla */
#vistapago th,
#vistapago td {
    border: 1px solid #dee2e6; /* Usa outline en lugar de border */
}

/* (esquinas superiores) */
#vistapago thead th:first-child {
  border-top-left-radius: 0.5rem;
}
#vistapago thead th:last-child {
  border-top-right-radius: 0.5rem;
}

/* (esquinas inferiores) */
#vistapago tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
#vistapago tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}